#ulSettings, #ulAdvSettings {
	list-style:none;
}
#ulSettings li, #ulAdvSettings li {
	margin-bottom:5px;
}
#divShortcuts {
	display:none;
}
#divSettings, #divInfo, #divAdvSettings {
	min-height:350px;
}